.wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.selectionBlock {
  display: flex;
  flex-direction: row;
  margin: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.node {
  margin: 10px;
  font-size: 30px;
}

.input {
  width: 100px;
}

.select {
  width: 100px;
}

.resultBlock {
  font-size: 80px;
}
